/* Common CSS */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --whitebg: white;
  --greybg: #f1f5f6;
  --primarybg: #06b3fa;
  --secondarybg: #0c0436;
  --maincolor: #0c0436;
  --textcolor: #756d6d;
  --secondtextcolor: #1fa1e1;
}

main section {
  padding: 30px 0;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--maincolor);
}

/*
1. Header
2. 
*/

/* Header Section Started */
#home {
  position: fixed;
  width: 100%;
  background: var(--whitebg);
  z-index: 999;
  text-align: left;
}

.logo {
  color: var(--secondtextcolor);
  font-size: 32px;
  font-weight: 700;
  margin-left: 16px;
}

nav {
  text-align: left;
  position: absolute;
  top: 100%;
  background: var(--whitebg);
  width: 100%;
  box-shadow: 0px 6px 10px -10px rgba(0, 0, 0, 0.25);
}

nav ul {
  list-style: none;
}

nav li {
  margin-left: 16px;
  margin-bottom: 16px;
}

nav a {
  color: var(--maincolor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondtextcolor);
}

.toggle_nav {
  display: none;
}

.toggle_nav:checked~nav {
  display: none;
}

.toggle_nav_label {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle_nav_label span,
.toggle_nav_label span::before,
.toggle_nav_label span::after {
  position: relative;
  height: 2px;
  width: 30px;
  background: var(--primarybg);
  display: block;
}

.toggle_nav_label span::before,
.toggle_nav_label span::after {
  position: absolute;
  content: "";
}

.toggle_nav_label span::before {
  bottom: 7px;
}

.toggle_nav_label span::after {
  top: 7px;
}

main {
  overflow: hidden;
}

.hero_area {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 15px;
  margin-top: 50px;
}

.hero_right {
  text-align: center;
}

.hero_right img {
  width: 70%;
}

.pname {
  color: var(--secondtextcolor);
}

.btn_area button {
  background: var(--primarybg);
  border: none;
  color: #fff;
  padding: 10px 20px;
  width: 150px;
  border-radius: 5px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.hero_left p {
  padding: 10px 0;
  font-size: 14px;
}

.btn_area button:last-child {
  margin-left: 10px;
}

/* Service Area Started */
#service {
  background: #f1f5f6;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title h2 {
  text-transform: uppercase;
  position: relative;
}

.title h2::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -5px;
  width: 100px;
  height: 3px;
  background: var(--primarybg);
  margin-left: -50px;
}

.single_service {
  background: var(--whitebg);
  margin: 15px 10px;
  padding: 4%;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(6, 179, 250, 0.25);
  text-align: left;
}

.single_service p {
  color: var(--textcolor);
  font-size: 14px;
  display: justify;
  margin-top: 15px;
  text-align: justify;
}

.single_service_top {
  display: flex;
}

.single_service_top i {
  flex-basis: 25%;
  font-size: 55px;
}

.single_service_top h3 {
  flex-basis: 75%;
  font-size: 20px;
  text-align: left;
  line-height: 1.3;
}

/* About Area Started */
.about_left {
  text-align: center;
}

.about_left img {
  width: 60%;
  padding: 5% 0;
  overflow: hidden;
}

.about_right {
  padding: 0px 15px;
}

.about_right h2 {
  margin-bottom: 10px;
}

.about_right p {
  color: var(--textcolor);
  font-size: 14px;
  line-height: 1.3;
  text-align: justify;
}

.about_counter {
  display: flex;
}

.about_counter>div {
  width: 100%;
  background: var(--primarybg);
  margin: 5px;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.about_counter i {
  font-size: 35px;
  margin-right: 5px;
}

.about_counter_right {
  font-weight: 600;
}

/* Contact Area Started */
.contact_form {
  background: var(--greybg);
  width: 90%;
  margin: 0 auto;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 2px 14px rgba(6, 179, 250, 0.4);
}

.form_left input {
  width: 48.4%;
  float: left;
  border: none;
  margin-bottom: 10px;
  background: var(--whitebg);
  box-shadow: none;
  padding: 5px 10px;
}

.form_left input:nth-child(even) {
  margin-left: 10px;
}

.form_right textarea {
  border: none;
  background: var(--whitebg);
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 80px;
}

input[type="submit"] {
  background: var(--primarybg);
  color: var(--whitebg);
  border: none;
  text-align: center;
  padding: 10px 50px;
  margin-left: 90px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
}

footer p {
  background: var(--maincolor);
  text-align: center;
  color: var(--whitebg);
  padding: 10px;
}

/* Portfolio Area Started */
#portfolio {
  background: var(--greybg);
}

.single_portfolio {
  position: relative;
  margin: 10px;
}

.portfolio_content {
  display: flex;
  flex-wrap: wrap;
}

.single_portfolio img {
  width: 100%;
}

.portfolio_hover_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--whitebg);
  background: rgba(6, 179, 250, 0.9);
  height: 100%;
  width: 100%;
  padding-top: 25%;
  display: none;
  transition: .5s ease all;
}

.portfolio_hover_content h1 {
  color: var(--whitebg);
  text-transform: uppercase;
  font-size: 46px;
}

.portfolio_hover_content button {
  background: var(--maincolor);
  color: var(--whitebg);
  border: navajowhite;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.single_portfolio:hover .portfolio_hover_content {
  display: block;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero_area {
    flex-direction: row;
    padding: 40px 20px;
  }

  .hero_area>div {
    width: 100%;
  }

  .hero_left {
    padding: 30px 0px 50px;
  }

  .service_content {
    display: flex;
    flex-wrap: wrap;
  }

  .single_service {
    width: 47.3%;
    padding: 4%;
  }

  .about-content {
    display: flex;
  }

  .about-content>div {
    width: 100%;
  }

  .about_left img {
    width: 65%;
  }

  .single_portfolio {
    width: 47.3%;
  }

  .form_left input {
    width: 49.1%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .single_service {
    width: 31.3%;
    padding: 4%;
  }

  .about_content {
    flex-direction: row;
  }

  .portfolio_content {
    flex-direction: row;
  }

  .single_portfolio {
    width: 31.3%;
  }

  .form_content {
    display: flex;
    gap: 20px;
  }

  .form_content>div {
    width: 100%;
  }

  .form_left input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 15px;
  }

  .form_left input:nth-child(2n) {
    margin-left: 0px;
  }

  .form_right textarea {
    padding: 10px 15px;
    height: 92%;
  }

  .contact_form {
    text-align: center;
  }
}